{% load static %}

    <video autoplay muted loop class="video-bg">
      <source src=" {% static 'videos/background.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>
    <div class="content-wrapper">
      <h1 class="display-4">A leading business development company</h1>
      <h3 class="subtitle">in the Kingdom of Saudi Arabia, the Middle East and North Africa.</h3>
      <p class="description">
        We aim to become a leading global company with diversified activities,
        and work to maximize the value of stakeholders.
      </p>
      <a href="about.html" class="btn btn-primary about-btn">Discover more ➦</a>

    </div>
