{% extends "base.html" %}
{% load static %}

{% block content %}


  <div class="container">
    <!-- Carousel https://getbootstrap.com/docs/5.1/components/carousel/ -->
    <div class="carousel-container justify-content-center">
      <!-- data-bs-interval: the amount of time to delay between automatically cycling an item. If false, carousel will not automatically cycle -->
      <!-- data-bs wrap: whether the carousel should cycle continuously (i.e go from first to last and vice-versa) -->
      <div id="vertical-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false"
        data-bs-wrap="false">
        <!-- Carousel slide indicators -->
        <ol class="carousel-indicators">
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="0" class="active" title="About the group"
            data-bs-toggle="tooltip" data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="1" title="Sectors & Companies"
            data-bs-toggle="tooltip" data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="2" title="News" data-bs-toggle="tooltip"
            data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="3" title="Policy" data-bs-toggle="tooltip"
            data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="4" title="Values" data-bs-toggle="tooltip"
            data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="5" title="Career" data-bs-toggle="tooltip"
            data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
          <li data-bs-target="#vertical-carousel" data-bs-slide-to="6" title="Investment" data-bs-toggle="tooltip"
            data-bs-placement="left">
            <img src="{% static 'images/icons/circle-quarter2.svg' %}" class="indicator-icon">
          </li>
        </ol>


        <div class="carousel-inner">
          <!-- Carousel item represents each slide -->

          <!-- First slide -->
          <div class="carousel-item active">
            {% include 'about.html' %}
          </div>
          <!--Second slide-->
          <div class="carousel-item">
            {% include 'sectors.html' %}
          </div>

          <div class="carousel-item">
            {% include 'news.html' %}
          </div>

          <div class="carousel-item">
            {% include 'policy.html' %}
          </div>

          <div class="carousel-item">
            {% include 'values.html' %}
          </div>

          <div class="carousel-item">
            {% include 'jobs.html' %}
          </div>

          <div class="carousel-item">
            {% include 'investment.html' %}
          </div>

          

        </div>
      </div>

    </div>
  </div>

{% endblock content %}
