{% load static %}
<!-- <h1 class="display-4">Our Sectors</h1> -->
<div class="cards-container">

    <!-- Card 1 - Sector 1 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <!-- Front Side -->
        <div class="flip-card-front">
          <h2>Food & Beverages</h2>
        </div>
        <!-- Back Side -->
        <div class="flip-card-back">
          <ul class="company-list">
            <li class="company">
              <img src="{% static 'images/logos/goldenmeat-50X50-1-1-01-150x150.png' %}" alt="Golden Meat">
              <div>
                <a href="company1.html">Golden Meat</a>
                <p>Leading meat provider.</p>
              </div>
            </li>
            <li class="company">
              <img src="{% static 'images/logos/logo-golden-foods.png' %}" alt="Golden Foods">
              <div>
                <a href="company2.html">Golden Foods</a>
                <p style="margin: 5px 3px 0;">Innovating in food industry.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Card 2 - Sector 2 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <!-- Front Side -->
        <div class="flip-card-front">
          <h2>Industrial</h2>
        </div>
        <!-- Back Side -->
        <div class="flip-card-back">
          <ul class="company-list">
            <li class="company">
              <img src="{% static 'images/logos/adam.png' %}" alt="adam">
              <div>
                <a href="company1.html">Adams</a>
                <p>

                  It was established in 2019 at situated free zone, Sharjah, United Arab Emirates with 15
                  years of experience. We are specialized in repackaging of milk powders. We are specialized
                  in Instant Full Cream Milk Repackaging. Adams Milk powder perfectly used for milk drink,
                  tea, coffee, yoghurt, sweets. Milk Powder Packaging available – Milk Powder Aluminum Foil
                  5KG to 25KG. We do private labelling also. We hopefully aim to produce in the near future,
                  Pouches 25 gms to 2.50 Kg, Milk Powder Tin Cans 400 gms to 2.50 Kg & Paper Multi Layer
                  Bags
                </p>
              </div>
            </li>
            <li class="company">
              <img src="{% static 'images/logos/taqteer.png' %}" alt="taqteer">
              <div>
                <a href="company2.html">Taqteer</a>
                <p>

                  Desalination, in simple terms, is the process of removing salt and minerals from sea water
                  to produce drinking water suitable for human consumption. Desalination nowadays is turning
                  into a reliable source of clean water that tackles the water scarcity that many nations
                  face.
                </p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- Card 3 - Sector 3 -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <!-- Front Side -->
        <div class="flip-card-front">
          <h2>Trading</h2>
        </div>
        <!-- Back Side -->
        <div class="flip-card-back">
          <ul class="company-list">
            <li class="company">
              <img src="{% static 'images/logos/masa.png' %}" alt="Masarabia">
              <div>
                <a href="company1.html">Masarabia</a>
                <p>Masa Arabia Trading Co. is a Saudi limited liability company, which incorporated in 2012
                  in the city of Al-Khobar. The company is engaged in trading business through its 3 main
                  divisions; Paper Trading, Medical Supply Division & Building Materials Division Over the
                  past ten years, the company has built its reputation in the local market to become one of
                  the reliable suppliers to the private, government and semi-government sectors backed with
                  its presence in the cities of Al-Khobar, Riyadh & Jeddah.</p>
              </div>
            </li>
            <li class="company">
              <img src="{% static 'images/logos/masarabia-colored.png' %}" alt="Masarabia">
              <div>
                <a href="company2.html">Masarabia</a>
                <p>The company works in the paper import and trade sector through the main registry of the
                  MASA Arabia Trading Company, headquartered in the city of Al-Khobar, as one of the
                  company’s commercial activities since 2010 through importing from the most important
                  global suppliers such as companies,

                  APP, PDI & Cadrex, and it is characterized by the diversity of paper products such as
                  IVORY paper, Wood Free paper, Kraft paper, Art Paper, Stickers Paper & Bristol paperwork
                  model in the paper department: Products range: We are currently focusing on trading
                  specialized paper types that are used in the packaging and packaging of meals, beverages
                  and various foodstuffs.</p>
              </div>
            </li>
            <li class="company">
              <img src="{% static 'images/logos/masarabia-colored.png' %}" alt="Masarabia">
              <div>
                <a href="company2.html">Masarabia</a>
                <p>The company works in the paper import and trade sector through the main registry of the
                  MASA Arabia Trading Company, headquartered in the city of Al-Khobar, as one of the
                  company’s commercial activities since 2010 through importing from the most important
                  global suppliers such as companies,

                  APP, PDI & Cadrex, and it is characterized by the diversity of paper products such as
                  IVORY paper, Wood Free paper, Kraft paper, Art Paper, Stickers Paper & Bristol paperwork
                  model in the paper department: Products range: We are currently focusing on trading
                  specialized paper types that are used in the packaging and packaging of meals, beverages
                  and various foodstuffs.</p>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>